.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.25vw;
    border: solid 1px #000;
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
} .calculator-button:hover {
    background-color: #ccffcc;
} .calculator-button.active {
    background-color: #56fc56;
}.calculator-button.row0 {
    border-top: 0;
    border-bottom: 1px;
    border-left: 0;
} .calculator-button.row1 {
    border-bottom: 1px;
    border-left: 0;
} .calculator-button.row2 {
    border-bottom: 1px;
    border-left: 0;
} .calculator-button.row3 {
    border-left: 0;
} .calculator-button.row-1 {
    transform: translateY(-500%);
    border: 0;
    border-right: solid 1px #000;
} .calculator-button.row-1:hover {
    border-bottom: solid 1px #000;
} .calculator-button:nth-child(4n+1) {
    border-left: solid 1px #000;
}